<h1>Welcome to the Hostel Takeover Adventure Module for Foundry VTT</h1>
<div class="form-group">
    <p>
        This system is developed by VTT Southwest, LLC under license from <a href="https://ulisses-us.com/"><img
                src="systems/torgeternity/images/ulissesLogo.webp" alt="logo ulisses"></a>
    </p>
    <p>
        Thank you for downloading and playing Torg Eternity on Foundry. If you need help with the system, please visit our Discord channel on the Foundry server. 
    </p>
</div>